@media (max-width: 1200px) {

}
	

@media (max-width: 991px) {
    .container {
        width: 90%;
    }

    .header {
        &__logo {
            width: 200px;
        }
        &__phone {
            font-size: 15px;
        }
    }

    .advantages {
        &__item {
            max-width: 200px;
            a {
                display: block;
            }
        }
    }

    .catalog {
        &__content {
            justify-content: space-evenly;
        }
    }
}
	

@media (max-width: 768px) {
    .header {
        &__logo {
            width: 150px;
        }
        &__phone {
            font-size: 15px;
        }
    }

    .advantages {
        &__wrapper {
            justify-content: space-around;
        }
        &__item {
            max-width: 150px;
            a {
                display: block;
            }
        }
        &__subtitle {
            min-height: 55px;
            line-height: 25px;
        }
    }

    .title_left {
        font-size: 30px;
    }

    .carousel {
        &__inner {
            width: 80%;
        }
    }

    .feed {
        &__text {
            padding-right: 20px;
        }
    }

    .footer {
        &__social {
            &-item {
                &:hover {
                    border-color: #ffffff;
                }
            }
        }
    }

    .button {
        &:hover {
            transform: none;
        }
    }
}
	

@media (max-width: 576px) {
    .header {
        display: flex;
        flex-direction: column;
        &__logo {
            width: 60%;
        }
        &__official {
            display: none;
        }
        &__contacts {
            align-items: center;
            .button {
                margin-top: 10px;
            }
        }
        &__phone {
            margin-top: 10px;
            font-size: 20px;
        }
    }

    .promo {
        &__wrapper {
            align-items: center;
        }
        &__header {
            font-size: 30px;
            line-height: 35px;
            text-align: center;
        }
        &__subheader {
            font-size: 25px;
            line-height: 30px;
            text-align: center;
        }
        &__icons {
            margin-top: 20px;
            width: auto;
            flex-direction: column;
        }
        &__icon {
            margin-top: 25px;
        }
    }

    .title {
        font-size: 22px;
        line-height: 24px;
    }

    .advantages {
        padding: 40px 0;
        &__wrapper {
            flex-direction: column;
            justify-content: space-between;
            margin-top: 20px;
        }
        &__item {
            max-width: 80%;
            margin: 0 auto;
            margin-top: 15px;
            a {
                display: block;
            }
        }
        &__subtitle {
            margin-top: 10px;
            min-height: 55px;
            line-height: 25px;
        }
        &__descr {
            margin-top: 0px;
        }
    }

    .title_left {
        text-align: center;
    }

    .consultation {
        min-height: auto;
        padding: 40px 0;
        &__descr {
            margin-top: 40px;
            text-align: center;
        }
    }

    .feed-form {
        width: 100%;
    }

    .carousel {
        display: none;
    }

    .catalog {
        padding: 40px 0 40px 0;
        &__tabs {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
        }
        &__tab {
            margin-top: 10px;
            font-size: 15px;
            transform: none;
            div {
                transform: none;
            }
            &:hover {
                transform: translate(5px, 0px);
            }
        }
        &__content {
            margin-top: 30px;
        }
    }

    .feed {
        &__item {
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            text-align: justify;
            &:nth-child(2){
                margin-top: 40px;
            }
        }
        &__text {
            padding: 20px;
            margin: 0;
            margin-top: 20px;
        }
        &__subtitle {
            text-align: center;
        }
        &__count {
            text-align: center;
        }
    }

    .footer {
        height: auto;
        iframe {
            display: none;
        }
        &__info {
            width: 100%;
        }
    }
}